{% extends 'core/base.html'%} {% load crispy_forms_tags %} {% load static %}
{%block content %}
{% load wysiwyg %}
{% wysiwyg_setup %}
<link rel="stylesheet" href="{% static 'profile/confirm.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!--messages-->
{% if messages %} {% for message in messages %}
<div class="tab-pane" id="messages">
    <div class="alert alert-{{ message.tags }}" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div class="alert-icon">
            <i class="icon-info"></i>
        </div>
        <div class="alert-message">
            <span style="font-weight: 700;">{{message}}</span>
        </div>
    </div>
</div>
{% endfor %}{% endif %}

<section class="course_details_area">
    <div class="container">
        <div class="row course_details_inner">

            <div class="col-lg-8">
                <h3> Add New Lesson:</h3>
                <hr><br>
                <form method="POST" action="." class="needs-validation" enctype='multipart/form-data'>
                    {% csrf_token %}

                    <div class="shadow p-3 mb-5 mt-0 bg-white rounded">
                        <div class="d-flex justify-content-between flex-wrap ">
                            <div class="ml-2">
                                <h4>Document:</h4>
                                <p style="max-width:20rem;"> Add your Document here, only (Word,Exel,Pdf) formats are
                                    allowed.</p>
                                {{ form.document }}
                            </div>
                            <div>
                                <img src="{% static 'img/doc.jpg'%}" class="img-thumbnail" style="max-width: 14rem;">
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-lg-4">
                <div class="c_details_list shadow p-3 mb-5 mt-5 bg-white rounded">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title:</label>
                        {{form.title}}

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Subject:</label>
                        {{form.description}}
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
            <!-- Accordion card -->
            <div class="card">

                <!-- Card header -->
                <div role="tab" id="headingTwo1" class="shadow p-3 mb-5 bg-white rounded">
                    <a style="color: inherit;" class="collapsed" data-toggle="collapse" data-parent="#accordionEx1"
                        href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                        <div class="d-flex justify-content-between">
                            <h4>
                                Body:
                            </h4>
                            <div>
                                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-file-earmark-richtext"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                                    <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                                    <path fill-rule="evenodd"
                                        d="M4.5 12.5A.5.5 0 0 1 5 12h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 10h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V8.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V8s1.54-1.274 1.639-1.208zM6.25 6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z" />
                                </svg>
                            </div>
                        </div>
                    </a>
                    <!-- Card body -->
                    <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1"
                        data-parent="#accordionEx1">
                        <hr>
                        <div class="card-body" style="text-align: center;">
                            {{form.body}}
                            {% wysiwyg_editor "id_body" %}
                        </div>
                    </div>
                </div>

            </div>
            <!-- Accordion card -->
        </div>
        <div style="text-align: right;">
            <button onclick="check_ex()" id="save_btn" class="main_btn" type="submit">Save
                Lesson</button>
        </div>
        </form>
    </div>
</section>
<!--================End Course Details Area =================-->
<script>

    function check_ex() {
        var list = ['pdf', 'docx', 'doc', 'xml', 'xlsx']
        var fullPath = document.getElementById("id_document").value;
        if (fullPath) {
            var startIndex =
                fullPath.indexOf("\\") >= 0
                    ? fullPath.lastIndexOf("\\")
                    : fullPath.lastIndexOf("/");
            var filename = fullPath.substring(startIndex);
            if (filename.indexOf("\\") === 0 || filename.indexOf("/") === 0) {
                filename = filename.substring(1);
            }
            var x = filename.split('.').pop();
            if (list.includes(x) == false) {
                alert(x + ' format is not allowed, use only files with (word,exel,pdf) extensions');
                location.reload()
            };

        }
    }

</script>


{% endblock content %}