{% extends 'core/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
    <br>
    <div style="max-width: 70%; margin: auto; background-color: white; padding: 10px;text-align: right;">
        <legend class="border-bottom mb-4">تم تسجيل الخروج بنجاح</legend>

        <div class="border_top pt-3">
            <small class="text-muted">
                لديك حساب ؟ <a href="{% url 'login'%}">سجل الدخول مجددا</a>
                <hr>
               
                <a href="{% url 'index'%}">الصفحة الرئيسية</a>

            </small>
        </div>
    </div>
    {% endblock content%}