{% extends 'core/base.html'%}
{% block content %}
{% load crispy_forms_tags %}
    <br>
    <div style="max-width: 70%; margin: auto; background-color: white; padding: 10px;">
        <legend class="border-bottom mb-4">Loged out</legend>

        <div class="border_top pt-3">
            <small class="text-muted">
                you have an accout <a href="{% url 'login'%}">log in </a>
                <hr>
               
                <a href="{% url 'index'%}">home page</a>

            </small>
        </div>
    </div>
    {% endblock content%}