{% extends 'core/base.html'%}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'profile/profile.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<br>

<!--/profile-->

<div class="container">

    <!--messages-->
    {% if messages %} {% for message in messages %}
    <div class="tab-pane" id="messages">
        <div class="alert alert-{{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <div class="alert-icon">
                <i class="icon-info"></i>
            </div>
            <div class="alert-message">
                <span style="font-weight: 700;">{{message}}</span>
            </div>
        </div>
    </div>
    {% endfor %}{% endif %}


    <div class="row">
        <!--profile info-->
        <div class="col-lg-4">
            <div class="profile-card-4 z-depth-3">
                <div class="card">
                    <div class="text-right rounded-top" style="background-color: #4DBF1C;">
                        <a href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">
                            <img src="{% static 'img/edit.png'%}" style="max-width: 7%; margin:5px;"></a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form method="POST" action="." class="needs-validation" style="text-align: left;"
                                        enctype='multipart/form-data'>
                                        <div class="modal-body">
                                            {{form|crispy}}
                                            {% csrf_token %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" name="ProfileForm">Save
                                                changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-center" style="background-color: #4DBF1C;">
                        <div class="user-box">
                            {%if user.profile.image %}
                            <img src="{{user.profile.image.url}}" alt="user avatar">
                            {% else %}
                            <img src="{% static 'img/avatar.png'%}" alt="user avatar">
                            {% endif %}
                        </div>
                        <h5 class="mb-1 text-white">{{user.profile.first_name}} {{user.profile.last_name}}</h5>
                        <h6 class="text-light">{{ user.username }}</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group shadow-none">
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-phone-square"></i>
                                </div>
                                <div class="list-details">
                                    <span>0{{user.profile.phone}}</span>
                                    <small>Mobile Number</small>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="list-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="list-details">
                                    <span>{{user.email}}</span>
                                    <small>Email Address</small>
                                </div>
                            </li>
                        </ul>
                        {% for total in totals %}
                        <div class="row text-center mt-4">
                            <div class="col p-2">
                                <h4 class="mb-1 line-height-5">{{ total.total_course}}</h4>
                                <small class="mb-0 font-weight-bold">Courses</small>
                            </div>
                            <div class="col p-2">
                                <h4 class="mb-1 line-height-5">{{ total.total_lesson}}</h4>
                                <small class="mb-0 font-weight-bold">lessons</small>
                            </div><!--
                            <div class="col p-2">
                                <h4 class="mb-1 line-height-5">9.1k</h4>
                                <small class="mb-0 font-weight-bold">Student</small>
                            </div>-->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a href="javascript:void()" class="btn-social btn-facebook waves-effect waves-light m-1"><i
                                class="fa fa-facebook"></i></a>
                        <a href="javascript:void()" class="btn-social btn-google-plus waves-effect waves-light m-1"><i
                                class="fa fa-google-plus"></i></a>
                        <a href="javascript:void()"
                            class="list-inline-item btn-social btn-behance waves-effect waves-light"><i
                                class="fa fa-behance"></i></a>
                        <a href="javascript:void()"
                            class="list-inline-item btn-social btn-dribbble waves-effect waves-light"><i
                                class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--/profile info-->

        {% if user.profile %}
        <!--profile table-->
        <div class="col-lg-8">
            <div class="card z-depth-3">
                <div class="card-body">
                    <ul class="nav nav-pills nav-pills-primary nav-justified">
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#profile" data-toggle="pill"
                                class="nav-link active show"><i class="icon-user"></i> <span
                                    class="hidden-xs">Profile</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#course" data-toggle="pill" class="nav-link"><i
                                    class="icon-note"></i> <span class="hidden-xs">Courses</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i
                                    class="icon-note"></i> <span class="hidden-xs">lessons</span></a>
                        </li>
                    </ul>

                    <div class="tab-content p-3">
                        <div class="tab-pane active show" id="profile">
                            <h5 class="mb-3">Teacher Profile</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Specialty:</h6>
                                    <p>
                                        {{user.profile.specialty}}
                                    </p>
                                    <h6>Bio:</h6>
                                    <p>
                                        {{user.profile.bio}}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <h6>Classes:</h6>
                                    <hr>

                                </div>
                                <div class="col-md-12">
                                    <h5 class="mt-2 mb-3">
                                        <a data-toggle="modal" data-target="#exampleModal" href="#" role="button"
                                            class="float-right"><img src="{%static 'img/add.png'%}" width="30rem"></a>
                                        Recent Announcements</h5>
                                    <hr>

                                    <!-- Modal -->
                                    <form method="POST" action=".">
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Create New
                                                            Announcement</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{form2|crispy}}
                                                        {% csrf_token %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary"
                                                            name="AnnouncementForm">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>


                                    <div class="container">
                                        <div class="row">
                                            <div class="panel-group" id="accordion" role="tablist"
                                                aria-multiselectable="true">
                                                {% for announcement in announcements %}

                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab">
                                                        <h4 class="panel-title" style="min-width:42rem;">
                                                            <a href="{% url 'delete_announcement' announcement.pk %}"
                                                                style="color: white;">
                                                                {{announcement.subject}}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div class="panel-collapse collapse show ">
                                                        <div class="panel-body" style="max-width: 42rem;">
                                                            <p>{{announcement.description}}
                                                            </p>
                                                            <small>{{announcement.date}}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/the cources-->


                        <div class="tab-pane " id="course">
                            <h5 class="mt-2 mb-3">
                                <a href="{% url 'add_course' %}" role="button" class="float-right"><img
                                        src="{%static 'img/add.png'%}" width="30rem"></a>
                                My Courses</h5>
                            <hr>
                            <div class="d-flex align-content-start flex-wrap">

                                {% for course in courses %}
                                <div class="card shadow p-3 mb-3 bg-white"
                                    style="width:19rem; margin: 1rem;border-radius: 10px;">
                                    <img class="card-img-top" src="{{course.thumbnail.url}}" alt="Card image cap"
                                        height="150rem">
                                    <div class="card-body" style="height: 4rem;">
                                        <h5 class="card-title">{{course.title}}</h5>
                                    </div>

                                    <div style="text-align: right;padding: 10px;">
                                        <ul class="list-inline m-0">
                                            <li class="list-inline-item ">
                                                <button class="btn btn-primary btn-sm" style="border-radius:25px;"
                                                    type="button" data-toggle="tooltip" data-placement="top"
                                                    title="View"><i class="fa fa-eye"></i></button>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="{% url 'edit_course' course.pk %}"><button
                                                        class="btn btn-success btn-sm " style="border-radius:25px;"
                                                        type="button" data-toggle="tooltip" data-placement="top"
                                                        title="Edit"><i class="fa fa-edit"></i></button></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#myModal" data-toggle="modal"><button
                                                        class="btn btn-danger btn-sm " style="border-radius:25px;"
                                                        type="button" data-toggle="tooltip" data-placement="top"
                                                        title="Delete"><i class="fa fa-trash"></i></button></a>
                                                <!-- Modal HTML -->
                                                <div id="myModal" class="modal fade">
                                                    <div class="modal-dialog modal-confirm">
                                                        <div class="modal-content">
                                                            <div class="modal-header flex-column">
                                                                <div class="icon-box">
                                                                    <i class="material-icons">&#xE5CD;</i>
                                                                </div>
                                                                <h4 class="modal-title w-100">Are you sure?</h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Do you really want to delete these records? This
                                                                    process cannot be undone.</p>
                                                            </div>
                                                            <div class="modal-footer justify-content-center">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Cancel</button>
                                                                <a href="{% url 'delete_course' course.pk %}"><button
                                                                        type="button"
                                                                        class="btn btn-danger">Delete</button></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="tab-pane" id="edit">
                            <h5 class="mt-2 mb-3">
                                <a href="{% url 'add_lesson' %}" role="button" class="float-right"><img
                                        src="{%static 'img/add.png'%}" width="30rem"></a>
                                My Lessons</h5>
                            <hr>
                            <div>
                                {% for lesson in lessons %}
                                <div class="shadow p-1 mb-2 bg-white rounded">
                                    <div class="d-flex justify-content-between flex-wrap ">
                                        <div class="ml-2" style="padding-top: 1rem;">
                                            <h6>{{lesson.title}}</h6>
                                            <small>{{lesson.date}}</small>
                                        </div>
                                        <div style="text-align: right;padding: 10px;">

                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item ">
                                                    <button class="btn btn-primary btn-sm" style="border-radius:25px;"
                                                        type="button" data-toggle="tooltip" data-placement="top"
                                                        title="View"><i class="fa fa-eye"></i></button>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="{% url 'edit_lesson' lesson.pk %}"><button
                                                            class="btn btn-success btn-sm " style="border-radius:25px;"
                                                            type="button" data-toggle="tooltip" data-placement="top"
                                                            title="Edit"><i class="fa fa-edit"></i></button></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#myModal2" data-toggle="modal"><button
                                                            class="btn btn-danger btn-sm " style="border-radius:25px;"
                                                            type="button" data-toggle="tooltip" data-placement="top"
                                                            title="Delete"><i class="fa fa-trash"></i></button></a>
                                                    <!-- Modal HTML -->
                                                    <div id="myModal2" class="modal fade">
                                                        <div class="modal-dialog modal-confirm">
                                                            <div class="modal-content">
                                                                <div class="modal-header flex-column">
                                                                    <div class="icon-box">
                                                                        <i class="material-icons">&#xE5CD;</i>
                                                                    </div>
                                                                    <h4 class="modal-title w-100">Are you sure?</h4>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Do you really want to delete these records? This
                                                                        process cannot be undone.</p>
                                                                </div>
                                                                <div class="modal-footer justify-content-center">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Cancel</button>
                                                                    <a href="{% url 'delete_lesson' lesson.pk %}"><button
                                                                            type="button"
                                                                            class="btn btn-danger">Delete</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="shadow p-3 bg-white rounded" style="height: min-content;">
            <div class="alert alert-danger mt-3" role="alert">
               <strong>please complete your registration process by adding your personal informations!</strong>
               <a href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="{% static 'img/edit.png'%}" style="max-width: 2rem; margin:5px;"></a>
              </div>
        </div>
        {% endif %}
    </div>
</div>





<!--
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>-->
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% endblock content %}